@import "scss/bootstrap";

$container__form-xs: 375;
$container__form-xxl: 1440;
$container__form-xxl-min: 1439;

$font_size-18: 18px;
$font_size-16: 16px;
$font-size-8: 8px;

$font_weight-light: 300;
$font_weight-normal: 400;
$font_weight-medium: 500;
$font_weight-bold: 700;
